<% content_for :article do %>
<article
  class="investments"
  data-controller="investments"
  data-investments-summary-url="<%= investments_summary_path(format: :html) %>"
  data-investments-chart-url="/graficas/">

  <aside>
    <div
      id="investment-summary-nav"
      class="chart-toggle"
      data-target="investments.summaryButtons"></div>

    <section id="investmentSummary" data-target="investments.summary"></section>
  </aside>

  <main>
    <div
      id="investment-charts-nav"
      class="chart-toggle"
      data-target="investments.chartButtons"></div>
    <section id="charts">
      <script type="text/javascript">
        var data = <%= @report.to_json.html_safe %>
      </script>
      <div id="chart-container" data-target="investments.chart"></div>
    </section>
  </main>
</article>
<% end %>
