<header id="investments">
  <section class="header-details">
    <span class="header-description">Total de Inversiones al <time datetime="<%= @report.latest_date %>"><%= @report.latest_date %></time></span>
  </section>

  <h1>$<%= currency @report.latest_total %></h1>
</header>

<section id="charts" data-controller="investments">
  <script type="text/javascript">
    var data = <%= @report.to_json.html_safe %>
  </script>
  <div id="chart-container" data-target="investments.chart"></div>
</section>
