<% if @accounts.any? %>
<header class="simple">
  <h1>Agregar Saldos Faltantes</h1>
</header>

<table>
  <tbody>
    <% @accounts.each do |account| %>
    <tr>
      <td>
        <%= link_to account.name, new_account_account_balance_path(account.id) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<header class="simple">
  <h1>No hay saldos faltantes para hoy</h1>
</header>
<% end %>

