<tr class="account-item">
  <td class="account-name"><%= balance_date.date %></td>
  <td class="account-balance"><%= number_with_delimiter balance_date.total.amount %></td>
  <td><%= link_to 'Ver', balance_path(balance_date.date) %></td>
</tr>
