<h1>Dineritos</h1>
<%= form_with scope: :session, data: {remote: false}  do |f| %>
  <div class="field">
    <%= f.email_field :email, placeholder: "tu@example.com" %>
  </div>
  <%= f.button "Entrar" %>
<% end %>
