<header class="account-header">
  <h1>Opciones</h1>
</header>

<section>
  <h2>Passkeys</h2>
  <ul class="passkeys">
    <%= render @passkeys %>
  </ul>
</section>

<section class="actions">
  <%= link_to 'Agregar Passkey', new_passkey_path %>
</section>
