<% content_for(:title) { @balance.account.name } %>
<%= render "form", url: account_balance_path(params[:id]) %>

<section class="actions">
  <%= link_to "Cancelar", account_path(@balance.account) %>
</section>
