<header>
  <span class="header-description">Valor Acumulado</span>
  <h1><%= number_with_delimiter @balance.total.amount %></h1>
  <section class="details">
    <%= @balance.date %>
  </section>
</header>

<table>
  <tbody>
    <% @balance.balances.each do |balance| %>
    <tr class="account-item">
      <td class="account-name"><%= balance.account.name %></td>
      <td class="account-balance"><%= number_with_delimiter balance.amount %></td>
    </tr>
    <% end %>
  </tbody>
</table>
