<tr class="account-item">
  <td class="account-name">
    <%= link_to balance_path(date) do %>
      <%= name %>
    <% end %>
  </td>
  <td class="account-balance">
    <%= currency amount %>
    <% if @report.account&.updateable? %>
    <%= link_to("Editar", edit_account_balance_path(params[:id], balance_id)) %>
    <% end %>
  </td>
</tr>
