<header class="simple">
  <section class="header-details">
    <span></span>
    Historial de
  </section>
  <h1>Todas las cuentas</h1>
</header>

<table>
  <tbody>
    <% @report.totals.each do |total| %>
    <%= render 'balances/balance_row',
      name: total.date, amount: total.amount, diff: total.diff,
      date: total.date
    %>
    <% end %>
  </tbody>
</table>

<section class="actions">
  <%= link_to 'Inicio', root_path %>
  <%= link_to 'Agregar balances', new_balance_path %>
</section>
