<header class="simple">
  <section class="header-details">
    <span></span>
    Historial de
  </section>
  <h1>Todas las cuentas</h1>
</header>

<table>
  <tbody>
    <% @report.rows.each do |total| %>
    <%= render 'balances/balance_row',
      name: pretty_date(total.date),
      amount: total.amount,
      date: total.date
    %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @report.rows, page_links: false, renderer: DineritosNavRenderer %>
