<% content_for(:title) { "Agregar Saldos" } %>
<header class="simple">
  <h1>Agregar Saldos</h1>
</header>

<%= render 'balances/form', form_url: balances_path %>

<section class="actions">
  <%= link_to 'Cancelar', root_path %>
</section>
