<%= render 'balances/balance' %>

<section class="actions">
  <%= link_to 'Inicio', root_path %>
  <%= link_to 'Histórico', balances_path %>
  <%= link_to 'Editar', edit_balance_path(@balance.date) %>
</section>
