<% if @balance %>
<%= render 'balances/balance' %>
<% end %>

<section class="actions">
  <%= link_to 'Agregar balances', new_balance_path %>
  <%= link_to 'Histórico', balances_path %>
  <%= link_to 'Cuentas', accounts_path %>
</section>
