header.account-header {
  position: relative;
  text-align: left;
  border: none;
  margin: 2em 0 1em;
  padding: 0;

  h1 {
    font-size: 2em;
    margin: 0.25em 0;
  }

  .currency-code {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.25rem;
    height: 2.25rem;
    border: 0.125rem solid var(--positive-color);

    color: var(--positive-color);
    font-size: 0.625rem;
    font-weight: bold;

    border-radius: 1.25rem;

    position: absolute;
    top: 0.25rem;;
    right: 0;
    transform: rotate(15deg);
  }

  nav {
    box-shadow: var(--border-color) 0 -0.0625rem 0 0 inset;
    display: flex;
    flex-direction: column-reverse;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    a {
      display: block;
      color: var(--mid-color);
      text-decoration: none;

      padding: 1em 1em;
      border-bottom: 0.125rem solid transparent;
      transition: 0.2s ease border-bottom-color;

      &:hover {
        border-bottom-color: var(--mid-color);
      }

      &.active {
        color: var(--fg-color);
        border-bottom-color: var(--focus-color)
      }
    }

    &.actions {
      a {
        color: var(--bg-color);
        font-size: 0.875em;
        font-weight: normal;
        border: none;
        border-radius: 0.5em;
        background-color: var(--positive-color);
        margin: 0;
        padding: 0.5em 0.75em;
      }

      a.svg-link {
        display: block;
        padding: 0.32em 0.4em;
      }
    }
  }

  svg {
    width: calc(1.125rem);
    fill: var(--bg-color);
  }
}

nav.secondary-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    flex: 1;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  a {
    font-size: 0.875em;
    text-decoration: none;
    color: var(--fg-color);

    display: block;
    padding: 0.5em 0.75em;
    margin-left: 0.25em;
    border: 0.0625rem solid transparent;
    border-radius: 0.5em;

    &:hover {
      border-color: var(--border-color);
    }
  }

  span {
    font-size: 0.875em;
    color: var(--disabled-color);
    display: block;
    padding: 0.5em 0.75em;
    border: 0.0625rem solid transparent;
    margin-left: 0.25em;
  }
}

table.balance-sheet {
  margin: 2em 0;
  font-size: 1rem;
  border-collapse: collapse;

  .date {
    text-align: center;
  }

  .main {
    font-weight: 700;
    color: var(--fg-color);
  }

  .currency {
    min-width: 7em;
    text-align: right;
  }

  .links {
    padding: 0;
    text-align: 0;

    a {
      display: block;
      padding: 0;
      margin: 0 0 0 0.5em;
      width: 1.4em;
      height: 1.4em;
    }

    svg {
      height: 1.4em;
      fill: var(--mid-color);
    }
  }

  th {
    color: var(--mid-color);
    font-size: 0.75em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    padding: 0.25rem;
    border-bottom: 0.0625rem solid var(--mid-color);
  }

  td {
    border-bottom: 0.0625rem solid var(--border-color);
  }
}

.summary {
  margin: 1em 0;
}

.big-number {
  display: flex;
  text-align: left;
  align-items: center;

  & > span {
    flex: 1;
    color: var(--mid-color);
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 0.125em;
  }
  & > em {
    flex: 1;
    display: block;
    text-align: right;
    font-size: 2em;
    font-style: normal;
    font-weight: 900;
  }
}

svg .axis .tick {
  color: var(--mid-color);
  fill: var(--mid-color);
}
svg .color-container {
  fill-opacity: 0.8;
}

.chart-toggle {
  display: flex;

  & > button, & > a {
    background-color: var(--border-color);

    text-align: center;
    text-transform: none;
    font-weight: bold;
    border-radius: 0;
    padding: 0.75em;
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }

    &.active {
      cursor: default;
      background-color: var(--mid-color);
    }
  }
}

@media (prefers-color-scheme: dark) {
  svg .color-container {
    fill-opacity: 0.6;
  }
}

@media screen and (max-width: 33em) {
  table.balance-sheet {
    border-top: 0.0625rem solid var(--mid-color);

    thead { display: none; }
    tr {
      padding: 0.25em 0;
      position: relative;
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-template-rows: auto;
      grid-gap: 0.25em;
      border-bottom: 0.0625rem solid var(--border-color);
    }
    td {
      border: none;
      padding: 0;
    }
    .date {
      grid-column: 1;
      grid-row: 1 / span 3;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .main.currency {
      grid-column: 2;
      grid-row: 1;
    }
    .currency {
      position: relative;
    }
    .currency::before {
      content: attr(data-name);
      color: var(--mid-color);
      font-size: 0.625em;
      font-weight: 400;
      text-transform: uppercase;
      position: absolute;
      left: 0;
      top: 0.3em;
    }
    .diff.currency {
      grid-column: 2;
      grid-row: 2;
    }
    .transfers.currency {
      grid-column: 2;
      grid-row: 3;
    }
    .links {
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0;
      width: 40%;
      height: 40%;
      a {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 25em) and (max-width: 33em) {
  table.balance-sheet tr {
    grid-template-columns: 1fr 1fr;
  }
  table.balance-sheet .links {
    width: 50%;
  }
}

@media screen and (min-width: 30em) {
  header.account-header {
    h1 {
      font-size: 3em;
    }
    nav {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  nav.secondary-nav {
    flex-direction: row-reverse;
  }

  .summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .big-number {
    text-align: center;
    display: block;

    & > em {
      font-size: 1.5em;
      text-align: center;
    }
  }
}

@media screen and (min-width: 40em) {
  .big-number > em {
    font-size: 2em;
  }
}
