:root {
    --bg-color: #e9edef;
    --bg-alt-color: #dde1e9;
    --fg-color: #25272B;
    --mid-color: #767D95;
    --nav-color: #222;

    --border-color: #b4bad1;
    --disabled-color: #9da5bf;
    --focus-color: #2191d5;

    --positive-color: #57b200;
    --negative-color: #da1b10;
}

.it-1 { background-color: #845EC2; }
.it-2 { background-color: #D65DB1; }
.it-3 { background-color: #FF6F91; }
.it-4 { background-color: #FF9671; }
.it-5 { background-color: #FFC75F; }
.it-6 { background-color: #008F7A; }
.it-7 { background-color: #0bb0bf; }
.it-8 { background-color: #0089BA; }
.it-9 { background-color: #2191d5; }
.it-0 { background-color: #2C73D2; }

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #222222;
        --bg-alt-color: #2c2e32;
        --fg-color: #dde1e9;
        --nav-color: #2c2e32;

        --border-color: #424657;
        --disabled-color: #4e556a;

        --positive-color: #63b83d;
        --negative-color: #e72a3a;
    }
}
