:root {
    --bg-color: #e9edef;
    --fg-color: #25272B;
    --mid-color: #767D95;
    --nav-color: #222;

    --border-color: #b4bad1;
    --disabled-color: #9da5bf;

    --positive-color: #57b200;
    --negative-color: #da1b10;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #222222;
        --fg-color: #dde1e9;
        --nav-color: #2c2e32;

        --border-color: #424657;
        --disabled-color: #4e556a;

        --positive-color: #63b83d;
        --negative-color: #e72a3a;
    }
}
