// Forms

form {
  max-width: 20em;
  margin: 0 auto;
}

.field {
  position: relative;
  margin: 1em auto 2em;
}

.form-help {
  color: var(--mid-color);
  font-size: 0.75em;
  font-style: italic;
  text-align: right;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: -1.3rem;
}


label {
  display: block;
  padding: 0 0 0.25em;
}

input {
  font-family: inherit;
  font-size: 1em;
  padding: 0.75em 1em;
  margin: 0 0 1em;

  display: block;
  width: 100%;
  box-sizing: border-box;

  outline: none;
  box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.02), 0 0.125em 0.125em rgba(0,0,0,0.02);
  border: none;
  border-radius: 0.25em;

  background-color: white;

  transition: ease all 0.2s;

  &:active, &:focus {
    box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.1), 0 0.125em 0.125em rgba(0,0,0,0.15);
  }

  &[type=number] {
    text-align: right;
  }

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &.amount {
  	text-align: right;
  }
}

.input-field {
  position: relative;

  span {
    position: absolute;
    top: 0.75em;
    left: 1em;
    display: inline-block;
    color: #aaa;
    margin-right: 0.25em;
  }

  input {
    padding-left: 4em;
  }
}

button {
  display: block;
  width: 100%;
  border: none;
  padding: 1em 0.75em;
  margin: 0;

  background-color: #077DBE;
  box-shadow:
    0 0.25em 0.5em rgba(0,0,0,0.02),
    0 0.125em 0.125em rgba(0,0,0,0.02),
    inset 0 0.125em 0.125em rgba(0,0,0,0);
  transition: ease all 0.2s;
  color: white;

  font-family: inherit;
  font-size: 1em;

  text-transform: uppercase;

  cursor: pointer;

  border-radius: 0.25em;

  &:focus, &:hover {
    background-color: lighten(#077DBE, 0.1);
    box-shadow:
      0 0.25em 0.5em rgba(0,0,0,0.1),
      0 0.125em 0.125em rgba(0,0,0,0.15),
      inset 0 0.125em 0.125em rgba(0,0,0,0);
  }

  &:active {
    box-shadow:
      0 0.25em 0.5em rgba(0,0,0,0),
      0 0.125em 0.125em rgba(0,0,0,0),
      inset 0 0.125em 0.25em rgba(0,0,0,0.3);
  }
}

select {
    display: inline-block;
    font-size: 1em;
    font-family: inherit;
    padding: .6em 1.8em .5em .8em;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 0 0.5em;
    border: none;
    outline: none;

    box-shadow:
      0 0.25em 0.5em rgba(0,0,0,0.02),
      0 0.125em 0.125em rgba(0,0,0,0.02),
      inset 0 0.125em 0.125em rgba(0,0,0,0);
    border-radius: .25em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    transition: ease all 0.2s;

    &:focus, &:hover {
      outline: none;
      box-shadow:
        0 0.25em 0.5em rgba(0,0,0,0.1),
        0 0.125em 0.125em rgba(0,0,0,0.15),
        inset 0 0.125em 0.125em rgba(0,0,0,0);
    }
}
select::-ms-expand {
    display: none;
}
select:hover {
    border-color: #888;
}
select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
select option {
    font-weight:normal;
}
