// Forms

form {
  max-width: 20em;
  margin: 0 auto;
}

.field {
  position: relative;
  margin: 1em auto 1em;
}

label, form .label {
  display: block;
  padding: 0.5rem 0 0.25rem;

  color: var(--mid-color);
  font-size: 0.75em;

  cursor: pointer
}

input, textarea {
  color: var(--fg-color);
  font-family: inherit;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  margin: 0;

  display: block;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 0 0.125em transparent;
  border: 0.0625em solid var(--border-color);
  border-radius: 0.25em;
  outline: none;

  background-color: var(--bg-alt-color);

  transition: ease all 0.2s;

  &:active, &:focus {
    box-shadow: 0 0 0 0.125em var(--focus-color);
    background-color: var(--bg-alt-color);
  }
}

input {
  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

textarea {
  height: 4.725em;
}

.input-field {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  span {
    color: var(--mid-color);
    padding: 0.5em;
  }

  input {
  	flex: 1;
  }
}

button, .btn {
  display: block;
  width: 100%;
  border: none;
  padding: 1.5em 0.75em;
  margin: 2em 0 1em;

  background-color: var(--focus-color);
  transition: ease all 0.2s;
  color: white;

  font-family: inherit;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;

  cursor: pointer;

  border-radius: 0.25em;

  &:focus, &:hover {
    background-color: var(--focus-dark-color);
  }
}

select {
    display: block;
    color: var(--fg-color);
    font-size: 1em;
    font-family: inherit;
    padding: 0.5em 1.8em 0.5em 0.8em;
    width: 100%;
    box-sizing: border-box;
    border: 0.0625em solid var(--border-color);
    outline: none;

    cursor: pointer;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bg-alt-color);
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%232191d5%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    box-shadow: 0 0 0 0.125em transparent;
    transition: ease all 0.2s;

    &:focus, &:active {
      outline: none;
      background-color: var(--bg-alt-color);
      color: var(--fg-color);
      box-shadow: 0 0 0 0.125em var(--focus-color);
    }
}

select option {
  font-weight:normal;
}

.form-help {
  color: var(--mid-color);
  font-size: 0.75em;
  font-style: italic;
  text-align: right;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: -1.3rem;
}

form dl {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 0.5em 0;
  border: 0.0625em solid var(--border-color);
  border-radius: 0.25em;

  text-align: center;

  div {
    padding: 0 0.5em;
  }

  dt {
    font-size: 0.75em;
    color: var(--mid-color);
  }
  dd {
    margin: 0;
    font-weight: bold;
  }
}

.actions {
  text-align: center;
  margin: 1em auto;
  max-width: 20em;

  a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 0.125em solid var(--mid-color);
    padding: 0.875em 0.625em;
    margin: 1em 0;

    background-color: transparent;
    transition: ease all 0.2s;
    color: var(--mid-color);

    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;

    cursor: pointer;

    border-radius: 0.25em;

    &:focus, &:hover {
      border-color: var(--fg-color);
      color: var(--fg-color);
    }
  }
}
