.investments {
  width: 100%;
  max-width: none;
  max-width: 70em;
  box-sizing: border-box;
}

#charts {
  border: none;
  margin: 1em 0 0;

  svg {
    width: 100%;
  }

  dl {
    text-align: center;
    margin: 0;
  }

  dd {
    font-size: 2em;
    font-weight: 900;
    margin: 0;
  }

  dt {
    color: var(--mid-color);
  }

  .drag-handle {
    fill: var(--fg-color);
    cursor: ew-resize;
  }
}

:root {
  --sidebar-width: 15rem;
}

#investment-summary-nav {
  font-size: 0.875em;

  button {
    flex: auto;
    width: auto;
  }
}

.investment-summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.25rem;
  padding: 0.25rem;

  text-align: right;
  margin: 0;

  div {
    padding: 1em;
    background-color: var(--bg-alt-color);
  }

  dt {
    color: var(--mid-color);
    font-size: 0.875em;
  }

  dd {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
  }
}

@media screen and (min-width: 22em) {
  .investment-summary {
    dd {
      font-size: 1.25em;
    }
  }
}

@media screen and (min-width: 45em) {
  #charts {
    margin: 0;
  }

  .investment-summary {
    grid-template-columns: 1fr;
    padding: 0.25em 0;
  }

  .investments {
    padding: 1em;
    display: flex;

    aside {
      width: 12rem;
      margin-right: 1rem;
    }
    main {
      flex: 1;
    }
  }
}

@media screen and (min-width: 50em) {
  .investments aside {
    width: 15rem;
  }

  .investment-summary {
    dd {
      font-size: 1.5em;
    }
  }
}
