:root {
    --bg-color: #E0E4EB;
    --fg-color: #25272B;
    --mid-color: #767D95;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-size: 16px;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.2;
}

article {
  width: calc(100% - 2em);
  max-width: 43em;
  margin: 0 auto;
}

header {
  text-align: right;
  margin: 2em 0 1em;
  padding: 0 0 2em;
  border-bottom: 0.0625rem solid #b4bad1;

  &.simple {
    text-align: left;

    .header-details {
      display: block;
      text-transform: none;
    }
  }

  .diff {
    font-size: 1.5em;
  }
}

h1 {
  font-size: 2.5em;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}

.header-details {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: #767D95;
  font-weight: 400;
  font-size: 1em;
}

table {
  margin: 0 auto;
  width: 100%;
}

td {
  color: #767D95;
  padding: 0.4em 0;

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.account-name {
  font-weight: 400;
}
.account-balance {
  text-align: right;
  font-size: 1.25em;
  font-weight: bold;

  .diff {
    display: block;
    font-weight: 400;
    font-size: 0.625em;
  }
}

.diff {
  color: #479047;
  &.neg {
    color: #be2b56;
  }
}

.actions {
  text-align: center;
  margin: 1em auto;
  max-width: 40em;

  a {
    color: #077DBE;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;

    display: inline-block;
    padding: 0.25em 0;
    margin: 0 0.25em 0.25em;

    &:hover {
      border-bottom: 0.25em solid #077DBE;
      margin-bottom: 0;
    }
  }
}

.field {
  margin: 1em auto;
}

label {
  display: block;
}

input {
  font-family: inherit;
  font-size: 1em;
  outline: none;

  padding: 0.5em;

  color: inherit;
  background-color: transparent;
  border: 0.0625em solid #ccc;
}

@media screen and (min-width: 25em) {
  .header-details {
    font-size: 1.25em;
  }

  h1 {
    font-size: 3em;
  }

  table {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 40em) {
  .header-details, table {
    font-size: 1.5em;
  }

  h1 {
    font-size: 3em;
  }
}

@media screen and (min-width: 45em) {
  table {
    font-size: 1.75em;
  }

  header .diff {
    font-size: 2em;
  }

  h1 {
    font-size: 4em;
  }
  .account-balance {
    .diff {
      font-weight: 400;
    }
  }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #25272B;
        --fg-color: #E0E4EB;
    }

    header {
      border-bottom-color: #424657;
    }
}
