@import "colors";

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-size: 16px;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.2;
  position: relative;
  min-height: 100vh;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

article {
  position: relative;
  flex: 1;
  width: calc(100% - 4em);
  max-width: 41em;
  margin: 0 auto;
  padding: 0;
}

nav {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: center;

  background-color: var(--nav-color);
  font-size: 0.75em;

  position: fixed;
  bottom: 0;
  left: 0;

  a {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    padding: 0.75rem 1rem;

    text-decoration: none;

    span {
      display: none;
      margin-left: 0.25em;
    }

    svg {
      width: 2.5em;
      fill: white;
    }

    &:hover {
      color: #ddd;

      svg {
        fill: #ddd;
      }
    }
  }
}

header {
  text-align: right;
  margin: 0 0 1em;
  padding: 2em 0 2em;
  border-bottom: 0.0625rem solid var(--border-color);

  &.simple {
    text-align: left;

    .header-details {
      display: block;
      text-transform: none;
    }
  }

  .diff {
    font-size: 1.5em;
  }
}

h1 {
  font-size: 2.5em;
  font-weight: 800;
  line-height: 1;
  margin: 0.1em 0;
}

.header-details {
  color: #767D95;
  font-weight: 400;
  font-size: 1em;
}

table {
  margin: 0 auto;
  width: 100%;
}

td {
  color: #767D95;
  padding: 0.4em 0;

  &.disabled {
    color: var(--disabled-color);
  }

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.account-name {
  font-size: 0.875em;
  font-weight: 400;
}
.account-balance {
  text-align: right;
  font-size: 1em;
  font-weight: bold;
  color: var(--fg-color);
}

.account-diff {
    text-align: right;
    font-weight: 400;
    font-size: 0.75em;
  }

.diff, .account-diff {
  color: var(--positive-color);
  &.neg {
    color: var(--negative-color);
  }

  &.zero {
    color: var(--disabled-color);
  }
}

.actions {
  text-align: center;
  margin: 1em auto;
  max-width: 40em;

  a {
    color: #077DBE;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;

    display: inline-block;
    padding: 0.25em 0;
    margin: 0 0.25em 0.25em;

    &:hover {
      border-bottom: 0.25em solid #077DBE;
      margin-bottom: 0;
    }
  }
}

form {
  max-width: 20em;
  margin: 0 auto;
}

.field {
  position: relative;
  margin: 1em auto;
}

.refresh {
  position: absolute;
  right: -1.5em;
  bottom: 1em;

  display: block;
  width: 0.75em;
  height: 0.75em;
  border-radius: 0.5em;

  &.working {
    background-color: var(--disabled-color);

    animation-name: breathe;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  &.succeeded {
    background-color: var(--positive-color);
  }

  &.failed {
    background-color: var(--negative-color);
  }
}


label {
  display: block;
  padding: 0 0 0.25em;
}

input {
  font-family: inherit;
  font-size: 1em;
  padding: 0.75em 1em;
  margin: 0 0 1em;

  display: block;
  width: 100%;
  box-sizing: border-box;

  outline: none;
  box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.02), 0 0.125em 0.125em rgba(0,0,0,0.02);
  border: none;
  border-radius: 0.25em;

  background-color: white;

  transition: ease all 0.2s;

  &:active, &:focus {
    box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.1), 0 0.125em 0.125em rgba(0,0,0,0.15);
  }

  &[type=number] {
    text-align: right;
  }

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.input-field {
  position: relative;

  span {
    position: absolute;
    top: 0.75em;
    left: 1em;
    display: inline-block;
    color: #aaa;
    margin-right: 0.25em;
  }

  input {
    padding-left: 4em;
  }
}

button {
  display: block;
  width: 100%;
  border: none;
  padding: 1em 0.75em;
  margin: 0;

  background-color: #077DBE;
  box-shadow:
    0 0.25em 0.5em rgba(0,0,0,0.02),
    0 0.125em 0.125em rgba(0,0,0,0.02),
    inset 0 0.125em 0.125em rgba(0,0,0,0);
  transition: ease all 0.2s;
  color: white;

  font-family: inherit;
  font-size: 1em;

  text-transform: uppercase;

  cursor: pointer;

  border-radius: 0.25em;

  &:focus, &:hover {
    background-color: lighten(#077DBE, 0.1);
    box-shadow:
      0 0.25em 0.5em rgba(0,0,0,0.1),
      0 0.125em 0.125em rgba(0,0,0,0.15),
      inset 0 0.125em 0.125em rgba(0,0,0,0);
  }

  &:active {
    box-shadow:
      0 0.25em 0.5em rgba(0,0,0,0),
      0 0.125em 0.125em rgba(0,0,0,0),
      inset 0 0.125em 0.25em rgba(0,0,0,0.3);
  }
}

select {
    display: inline-block;
    font-size: 1em;
    font-family: inherit;
    padding: .6em 1.8em .5em .8em;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 0 0.5em;
    border: none;
    outline: none;

    box-shadow:
      0 0.25em 0.5em rgba(0,0,0,0.02),
      0 0.125em 0.125em rgba(0,0,0,0.02),
      inset 0 0.125em 0.125em rgba(0,0,0,0);
    border-radius: .25em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    transition: ease all 0.2s;

    &:focus, &:hover {
      outline: none;
      box-shadow:
        0 0.25em 0.5em rgba(0,0,0,0.1),
        0 0.125em 0.125em rgba(0,0,0,0.15),
        inset 0 0.125em 0.125em rgba(0,0,0,0);
    }
}
select::-ms-expand {
    display: none;
}
select:hover {
    border-color: #888;
}
select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
select option {
    font-weight:normal;
}

.graph-report {
  --height: 10rem;
  display: flex;
  width: 100%;
  height: var(--height);
  margin: 2em 0 0;
  background-color: #555;
  position: relative;

  .graph-account {
    box-sizing: border-box;
    width: var(--percent);
    height: 100%;

    &:hover span {
      opacity: 1;
    }
  }

  span {
    display: inline-block;
    padding: 0.5rem 0;
    font-size: 0.75em;
    position: absolute;
    right: 0.5rem;
    bottom: var(--height);
    opacity: 0;
    transition: 0.2s ease all;
  }
}

.navigation {
  text-align: center;
  margin: 1em 0 0;
  & > a, & > span {
    display: inline-block;
    width: 4em;
    padding: 0;
  }

  svg {
    fill: var(--border-color);
  }

  .disabled {
    display: none;
  }
}

#formTotal {
  display: none;
  padding: 1em;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;

  &.active {
    display: block;
  }
}

@media screen and (min-width: 25em) {
  .header-details {
    font-size: 1.25em;
  }

  h1 {
    font-size: 3em;
  }

  table {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 40em) {
  nav {
    position: absolute;
    font-size: 0.875rem;
    bottom: auto;
    top: 0;

    a {
      padding: 1em 1.5em;

      svg {
        width: 1.5em;
      }

      span {
        display: inline-block;
      }
    }
  }

  body {
    padding: 4rem 0 0;
  }

  table {
    font-size: 1.5em;
  }

  h1 {
    font-size: 3em;
  }
}

@media screen and (min-width: 45em) {
  nav {
    font-size: 1rem;
  }

  table {
    font-size: 1.75em;
  }

  h1 {
    font-size: 4em;
  }
  .account-balance {
    .diff {
      font-weight: 400;
    }
  }
}

@media screen and (min-width: 55em) {
  .navigation {
    margin: 0;
    & > a, & > span {
      position: absolute;
      top: 3.5em;
      width: 5em;
    }
    .next_page {
      right: -6em;
    }
    .previous_page {
      left: -6em;
    }
  }
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(1);
  }
}
