:root {
    --bg-color: #E9EDEF;
    --bg-alt-color: #DDE1E9;
    --fg-color: #25272B;
    --mid-color: #5C6870;
    --nav-color: #222;

    --border-color: #BCC3C8;
    --disabled-color: #9DA5BF;
    --focus-color: #2191D5;
    --focus-dark-color: #1C7FBC;

    --positive-color: #27a717;
    --negative-color: #ce3129;
}

/* Observable Plot Hack */
.plot-d6a7b5 {
  --plot-background: var(--bg-color);
}

.it-1 { background-color: #845EC2; }
.it-2 { background-color: #D65DB1; }
.it-3 { background-color: #FF6F91; }
.it-4 { background-color: #FF9671; }
.it-5 { background-color: #FFC75F; }
.it-6 { background-color: #008F7A; }
.it-7 { background-color: #0bb0bf; }
.it-8 { background-color: #0089BA; }
.it-9 { background-color: #2191d5; }
.it-0 { background-color: #2C73D2; }

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #16191B;
        --bg-alt-color: #33363c;
        --fg-color: #DDE1E9;
        --nav-color: #2C2E32;

        --border-color: #2e3438;
        --disabled-color: #4E556A;
    }
}
