<tr class="account-item">
  <td class="account-name">
    <%= link_to balance_path(total.date) do %>
      <%= total.date %>
    <% end %>
  </td>
  <td class="account-balance">
    <%= number_with_delimiter total.amount %><br>
    <%= diff(total.diff) %>
  </td>
</tr>
