<section id="charts" data-controller="show-account">
  <script type="text/javascript">
    var data = <%= @report.chart_data.html_safe %>
  </script>

  <h2>Saldos en el tiempo</h2>
  <div class="chart-container" data-show-account-target="balanceChart"></div>

  <h2>TIR en el tiempo</h2>
  <div class="chart-container" data-show-account-target="irrChart"></div>
</section>

<%= account_currency_toggle %>
