<section class="summary">
  <div class="big-number">
    <span>Saldo Actual</span>
    <em><%= currency @report.latest_balance.amount %></em>
  </div>

  <div class="big-number">
    <span>Rendimiento Anual</span>
    <em><%= diff @report.earnings %></em>
  </div>

  <div class="big-number">
    <span>TIR</span>
    <em><%= currency (@report.irr * 100) %>%</em>
  </div>
</section>

<section id="charts" data-controller="show-account">
  <script type="text/javascript">
    var data = [
    <%= @report.monthly_irrs.html_safe %>
    ]

  </script>
  <div id="chart-container" data-target="show-account.chart"></div>
</section>
