<section id="charts" data-controller="show-account">
  <script type="text/javascript">
    var data = {
      irrs: [<%= @report.monthly_irrs.html_safe %>],
      balances: [<%= @report.balances_in_period.html_safe %>]
    }

  </script>

  <h2>Saldos en el tiempo</h2>
  <div class="chart-container" data-show-account-target="balanceChart"></div>

  <h2>TIR en el tiempo</h2>
  <div class="chart-container" data-show-account-target="irrChart"></div>
</section>

<%= account_currency_toggle %>
