<table class="balance-sheet">
  <thead>
    <tr>
      <th>Fecha</th>
      <th class="currency">Cambio</th>
      <th class="currency">Saldo</th>
    </tr>
  </thead>

  <tbody>
    <% @report.balances(params[:page]).each do |balance| %>
    <tr>
      <td class="date"><%= balance.date %></td>
      <td class="diff currency" data-name="Cambio"><%= diff balance.diff %></td>
      <td class="main currency" data-name="Saldo"><%= currency balance.amount %></td>
    </tr>
    <% end %>
  </tbody>
</table>
