<header class="simple">
  <h1>Cuentas</h1>
</header>

<% if @accounts.any? %>
<table>
  <tbody>
    <%= render @accounts %>
  </tbody>
</table>
<% end %>

<section class="actions">
  <%= link_to 'Agregar', new_account_path %>
</section>
