<header class="simple">
  <section class="header-details">
    Historial de
  </section>
  <h1><%= @report.account_name %></h1>
</header>

<table>
  <tbody>
    <% @report.rows.each do |account| %>
    <%= render 'balances/balance_row',
      name: pretty_date(account.date),
      amount: account.amount,
      date: account.date
    %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @report.rows, page_links: false %>
