<header class="simple">
  <section class="header-details">
    Historial de
  </section>
  <h1><%= @report.account_name %></h1>
</header>

<table>
  <tbody>
    <% @report.rows.each do |balance| %>
    <%= render 'balances/balance_row',
      name: pretty_date(balance.date),
      amount: balance.amount,
      date: balance.date,
      balance_id: balance.id
    %>
    <% end %>
  </tbody>
</table>

<%= will_paginate @report.rows, page_links: false, renderer: DineritosNavRenderer %>
